.popup,
.newsearch-popup,
.newmessage-popup,
.message-popup,
.activity-popup,
.people-popup {
	background-color: #111827;
	width: 338px;
	height: 528px;
	text-align: center;
	border-radius: 24px;

}

body {
	background-color: #F3F2EF;
}

.heading1 {
	padding: 19px 0px 10px 30px;
}

.header {
	display: flex;
	background-image: url(assets/activity-background-img.png);
	height: 84px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	font-size: 17px;
}

.close-btn {
	position: absolute;
	left: 300px;
	top: 31px;
	cursor: pointer;
}

.back {
	position: absolute;
	top: 35px;
	left: 35px;
	cursor: pointer;
}

h6 {
	font-size: 14px;
}

.hide {
	display: none !important;
}

#activity-btn,
#message-btn,
#people-btn,
#Activity {
	background-color: transparent;
	border: transparent;
	font-family: 'Prompt', sans-serif;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	cursor: pointer;
}

.tab-clicked {
	text-decoration: underline;
	text-decoration-color: #9333EA;
	text-underline-offset: 0.4em;
	text-decoration-thickness: 0.30em;
}

.home-footer,
.start-search-footer,
.stop-search-footer,
.message-footer,
.newmessage-footer,
.nextcamp-footer,
.create-footer,
.activity-footer,
.people-footer,
#Campaign-Completed,
.start-invite-activity-footer,
.stop-invite-activity-footer {
	position: absolute;
	bottom: 23px;
	left: 16px;
	width: 100px;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.right-arrow-btn-home,
.right-arrow-btn-people,
.right-arrow-btn-activity,
.right-arrow-btn-nextcamp,
.right-arrow-btn-create {
	position: absolute;
	left: 260px;
	bottom: 28px;
}

.right-arrow-btn-start-search,
.right-arrow-btn-stop-search {
	position: absolute;
	left: 226px;
	bottom: 28px;
}

#start-search-btn,
#stop-search-btn,
#activity-status,
#save-update-msg-campname-btn,
#save-campaign-btn {
	background-color: #9333EA;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border: none;
	width: 302.52px;
	height: 49.64px;
	align-items: center;
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
	padding-left: 0px;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 18px;
	text-align: center;
}

#save-campaign-btn:disabled:hover,
#start-invite-btn:disabled:hover {
	cursor: not-allowed;
  }


                                               /* home */


#heading-home {
	margin: 0%;
	color: #fff;
	font-size: 23.28px;
	font-family: 'Poppins', sans-serif;
}

#create-campaign {
	background-color: #9333EA;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border: none;
	width: 302.52px;
	height: 49.64px;
	align-items: center;
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
	padding-left: 0px;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 18px;
	text-align: center;
}

.campaign-box {
	background-color: #1F2937;
	border: 1px solid #9333EA;
	width: 302.52px;
	margin: 16px 16px 16px 16px;
	border-radius: 10px;
	cursor: pointer;
}

.delete-campaign-btn {
	position: relative;
	top: 30px;
	left: 140px;
	width: 55px;
	height: 52px;
}

.delete-campaign-btn-img {
	width: 20px;
	height: 20px;
}

.confirm-delete-btn {
	position: relative;
	width: 0px;
	height: 0px;
}

.confirm-delete-btn-img {
	position: absolute;
	top: 22px;
	left: 155px;
	width: 30px;
	height: 30px;
}

.cancel-delete-btn {
	position: relative;
	width: 0px;
	height: 0px;
}

.cancel-delete-btn-img {
	position: absolute;
	top: 31px;
	left: 128px;
	width: 13px;
	height: 13px;
}

.campaign-name {
	font-family: 'Prompt', sans-serif;
	color: #fff;
	text-overflow: ellipsis;
	max-width: 20rem;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 18px;
	font-size: 15px;
	font-weight: 600;
}

.bordered-text {
	font-size: 11px;
	font-family: 'Prompt', sans-serif;
	color: #fff;
	margin: 0px 0px 0px 18px;
}

.date {
	font-size: 11px;
	font-family: 'Prompt', sans-serif;
	color: #9333EA;
	margin-top: 13px;
}

.campaigns-section {
	overflow-y: scroll;
	height: 360px;
}
.campaigns-section::-webkit-scrollbar{
    display: none;
}

.welcome {
	margin: -4px 0px 0px 0px;
	text-align: left;
	color: #fff;
	font-family: 'Prompt', sans-serif;
	font-weight: 100;
}


                                        /* search page */


#heading-search {
	margin: 0%;
	color: #fff;
	font-size: 23.28px;
	font-family: 'Poppins', sans-serif;
	padding: 25px 0px 0px 55px;
	font-size: 20px;
}

.search-Campaign {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 125px;
	margin: 0px 0px 0px 0px;
}

.collected {
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
}

#resume-scrape-btn {
	background-color: #26BC74;
	border-radius: 5px;
	padding: 5px 24px;
	color: #fff;
	border: none;
	font-family: 'Prompt', sans-serif;

}

#pause-scrape-btn {
	background-color: #DFAF34;
	color: #fff;
	border-radius: 5px;
	padding: 5px 30px;
	border: none;
	font-family: 'Prompt', sans-serif;
}

.loading-container-newsearch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	margin-top: -66px;
}

.loading-container-activity {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

.loading-container h2 {
	color: #A4A4A4;
}

.loading-dots {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: rgb(144, 131, 216);
	margin: 0 3px;
	animation: bounce 0.5s ease-in-out infinite;
}

.dot:nth-child(2) {
	animation-delay: 0.1s;
}

.dot:nth-child(3) {
	animation-delay: 0.2s;
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}

.leads-scraped {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lead-image {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

.lead-info {
	text-align: left;
	width: 175px;
	height: 45px;
}

.lead-name {
	font-size: 14px;
	margin: 0;
	margin-bottom: 5px;
	text-align: left;
	text-overflow: ellipsis;
	max-width: 20rem;
	max-height: 12rem;
	overflow: hidden;
	white-space: nowrap;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.lead-title {
	font-size: 12px;
	margin: 0;
	text-overflow: ellipsis;
	max-width: 20rem;
	max-height: 12rem;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
	font-family: 'Prompt', sans-serif;
	color: #8A8A8A;
}

.remove-btn {
	padding: 8px 16px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: #fff;
	font-family: 'Prompt', sans-serif;
}

.leads-section {
	overflow: scroll;
	overflow-x: hidden;
	height: 275px;
}


                                          /* message */


.message-template {
	background-color: #fff;
	width: 350px;
	height: 429px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

#heading-message {
	margin: 23px 0px 0px 60px;
	color: #fff;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

#charCountNewMessage {
	position: absolute;
	bottom: 198px;
	right: 55px;
	color: gray;
	font-family: 'Poppins', sans-serif;
	background-color: #111827;
}

#charCountMessage {
	position: absolute;
	bottom: 175px;
	right: 55px;
	color: gray;
	font-family: 'Poppins', sans-serif;
	background-color: #111827;
}

#error-message {
	display: none;
	color: red;
	padding-top: 10px;
}

.trial input {
	font-size: 14px;
	width: 30px;
}

.trial input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}

.placeholders {
	text-align: left;
	padding: 15px 0px 0px 35px;
	font-size: 15px;
	color: #ccc;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 10px;
	position: fixed;
}

.placeholders p {
	margin-bottom: 5px;
}

.placeholder-button {
	border: 0;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	background: #1F2937;
	padding: 4px 10px 4px 10px;
	text-decoration: none;
	margin: 0px 14px 5px 0px;
}

.placeholder-button:hover {
	text-decoration: none;
}

.sizing {
	resize: vertical;
	width: 260px;
	margin: -20px;
	background-color: #111827;
	color: #fff;
	border: 1px solid #374151;
	border-radius: 5px;
	font-family: 'Prompt', sans-serif;
}

.sizing:hover,
.sizing:focus {
	border: 1px solid #9333EA;
	outline: none;
}

.message-header h5 {
	font-size: 15px;
	color: #ccc;
	font-family: 'Poppins', sans-serif;
	margin: 15px 67px 15px 0px;
}

.message-subheader h5 {
	font-size: 15px;
	color: #ccc;
	font-family: 'Poppins', sans-serif;
	margin: 25px 38px 30px 0px;
}

.message-subheader textarea {
	height: 122px;
}


                                        /* activity page */


.activity-header {
	background-image: url(assets/activity-background-img.png);
	height: 112px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.activity-btn-section {
	display: flex;
	margin-bottom: 2px;
}

.activity-heading-section,
.people-top-section {
	display: flex;
	gap: 47px;
	padding-left: 10px;
	margin: 0px;

}

.activity-close-btn {
	position: absolute;
	left: 300px;
	top: 40px;
	cursor: pointer;
}

.activity-back {
	position: absolute;
	top: 40px;
	left: 35px;
	cursor: pointer;
}

#heading-activity,
#heading-people {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	padding-left: 55px;
}

.today-limit{
	color: #fff;
	font-family: 'Prompt', sans-serif;
	font-size: 15px;
	text-align: left;
	padding: 10px 10px 5px 32px;
}

.status-box {
	display: flex;
	color: #fff;
	font-family: 'Prompt', sans-serif;
	justify-content: center;
	gap: 10px;
}

.sender-count {
	display: flex;
}

#activity-btn:hover,#message-btn:hover,#people-btn:hover {
	text-decoration: underline;
	text-decoration-color: #9333EA;
	text-underline-offset: 0.4em;
	text-decoration-thickness: 0.30em;
}

.activity-leads-section {
	overflow: scroll;
	overflow-x: hidden;
	height: 253px;
}

.activity-pending{
	padding-left:  15px;
}

.activity-section {
	background-color: #111827;
	width: 338px;
	height: 416px;
	text-align: center;
	border-radius: 24px;
}

.process-box {
	text-align: left;
	padding: 5px;
	padding-left: 32px;
	font-family: 'Prompt', sans-serif;
	color: #fff;
	font-size: 15px;
}

.lead-status {
	font-family: 'Prompt', sans-serif;
	color: #DFAF34;
	font-size: 13px;
}

#start-invite-btn,
#stop-invite-btn {
	background-color: #26BC74;
	color: #fff;
	border: none;
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
	padding: 12px 52px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 18px;
}

.number-count{
	background-color: #374151;
    width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.count-decrease-btn{
	background-color: #1F2937;
	padding: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;

}

.count-increase-btn{
	background-color: #1F2937;
	padding: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.sending-status {
	display: flex;
	color: #fff;
	font-family: 'Prompt', sans-serif;
	font-size: 15px;
}

.campaign-info {
	display: flex;
	background-color: #1F2937;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: -20px;
}

.campaign-info2 {
	display: flex;
	background-color: #1F2937;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 0px;

}

::-webkit-scrollbar-thumb {
	background: rgb(75, 75, 75);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: lightgray;
}
::-webkit-scrollbar {
	width: 5px;
}


                                        /* people page */


#add-people {
	background-color: #9333EA;
	color: #fff;
	border: none;
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
	padding: 12px 74px;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 18px;
}

.profile-result {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-result a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.profile-result img {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	object-fit: cover;
	object-position: center;
	margin-right: 10px;
}

.profile-info h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}

.profile-info p {
	font-size: 12px;
	margin: 0;
}

.people-leads-section {
	overflow: scroll;
	overflow-x: hidden;
	height: 300px;
}

.people-page-pending{
	color: #fff;
	font-size: 12px;
 }

 .people-page-sent{
	 color: #fff;
	 font-size: 12px;
 }

 .people-page-date{
	 color: #9333EA;
	 font-size: 12px;
 }
 
.total-count {
	font-family: 'Prompt', sans-serif;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	margin-top: -3px;
}

.campaign-status-data{
	display: flex;
	padding: 15px 0px 5px 20px;
	gap: 10px;
	background-color: #1F2937;
}