.popup,
.newsearch-popup,
.newmessage-popup,
.message-popup,
.activity-popup,
.people-popup {
	background-color: #111827;
	width: 338px;
	height: 528px;
	text-align: center;
	border-radius: 24px;

}
.campaign-info{
	display: flex;
	background-color: #1F2937;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: -20px;
}
.campaign-info2{
	display: flex;
	background-color: #1F2937;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 0px;
	
}


body {
	background-color: #e3e9f1;
}

.heading1 {
	padding: 19px 0px 10px 30px;
}

.welcome {
	margin: -4px 0px 0px 0px;
	text-align: left;
	color: #fff;
	font-family: 'Prompt', sans-serif;
	font-weight: 100;
}

.header {
	display: flex;
	background-image: url(assets/background-image.png);
	height: 84px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	/* margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px; */
	font-size: 17px;
}

.close-btn {
	position: absolute;
	left: 300px;
	top: 35px;
	cursor: pointer;
}

.back {
	position: absolute;
	top: 22px;
	left: 26px;
	cursor: pointer;
}

h6 {
	font-size: 14px;
}

.hide {
	display: none !important;
}

#activity-btn,
#message-btn,
#people-btn,
#Activity {
	background-color: transparent;
	border: transparent;
	font-family: "Poppins variant0", Tofu;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 5px;
	cursor: pointer;
}

.home-footer,
.start-search-footer,
.stop-search-footer,
.message-footer,
.newmessage-footer,
.nextcamp-footer,
.create-footer,
.activity-footer,
.people-footer,
#Campaign-Completed,
.start-invite-activity-footer,
.stop-invite-activity-footer {
	position: absolute;
	bottom: 23px;
	left: 16px;
	width: 100px;
	color: #fff;
	text-align: center;
	padding: 10px;
}


.remove-btn {
	background-color: #0073b1;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 12px;
	cursor: pointer;
}

.right-arrow-btn-start-search,
.right-arrow-btn-stop-search,
.right-arrow-btn-home,
.right-arrow-btn-people,
.right-arrow-btn-activity,
.right-arrow-btn-nextcamp,
.right-arrow-btn-create {
	position: absolute;
	left: 260px;
	bottom: 28px;
}
.right-arrow-btn-camp {
	position: absolute;
	left: 200px;
	bottom: 400px;
}

#start-search-btn,
#stop-search-btn,
#activity-status,
#save-update-msg-campname-btn {
	background-color: rgb(144, 131, 216);
	color: black;
	border: none;
	font-family: "Poppins variant0", Tofu;
	font-weight: 600;
	padding: 12px 100px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 15px;
}

#start-invite-btn,
#stop-invite-btn {
	background-color: rgb(144, 131, 216);
	color: black;
	border: none;
	font-family: "Poppins variant0", Tofu;
	font-weight: 600;
	padding: 12px 72px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 15px;
}


/* home */

#heading-home {
	margin: 0%;
	color: #fff;
	font-size: 23.28px;
	font-family: 'Poppins', sans-serif;
}


#create-campaign {
	background-color: #9333EA;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border: none;
	width: 302.52px;
	height: 49.64px;
	align-items: center;
	font-family: 'Prompt', sans-serif;
	font-weight: 400;
	padding-left: 0px;
	/* padding: 12px 75px; */
	/* margin-left: 10px; */
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
	font-size: 18px;
	text-align: center;
}



.campaign-box {
	background-color: #1F2937;
    border:1px solid #9333EA;
	width: 302.52px;
	margin: 16px 16px 16px 16px;
	border-radius: 10px;
	cursor: pointer;
}

.delete-campaign-btn {
	position: relative;
	width: 55px;
	height: 55px;
}

.delete-campaign-btn-img {
	position: absolute;
	top: 138px;
    right: 45px;
	width: 20px;
	height: 20px;
}

.confirm-delete-btn {
	position: relative;
	width: 0px;
	height: 0px;
}

.confirm-delete-btn-img {
	position: absolute;
	top: 10px;
	right: 205px;
	width: 30px;
	height: 30px;
}

.cancel-delete-btn {
	position: relative;
	width: 0px;
	height: 0px;
}

.cancel-delete-btn-img {
	position: absolute;
	top: 19px;
	right: 110px;
	width: 13px;
	height: 13px;
}

.campaign-name {
	font-family: 'Prompt', sans-serif;
	color: #fff;
	text-shadow: 0 0 4px #9333EA; /* horizontal-offset vertical-offset 'blur' colour */
	text-overflow: ellipsis;
	max-width: 15rem;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 18px;
	font-size: 15px;
	font-weight: 600;
}

/* .activity-status {
	font-size: 12px;
	font-family: 'Prompt', sans-serif;
	color: #fff;
} */
.bordered-text{
	text-shadow: 0 0 4px #9333EA; 
	font-size: 11px;
	font-family: 'Prompt', sans-serif;
	color: #fff;
	margin:0px 0px 0px 18px;
}

.date {
	font-size: 11px;
	font-family: 'Prompt', sans-serif;
	color: #9333EA;
	margin-top: 13px;
}

.campaigns-section {
	background-color: #1F2937;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 405px;
}


/* search page */


#heading-search {
	margin-left: 50px;
}

.search-Campaign {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 170px;
}

.collected {
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;

}


#resume-scrape-btn,
#pause-scrape-btn {
	background-color: rgb(144, 131, 216);
	border-radius: 10px;
	padding: 5px 15px;
	border: none;
}



.leads-scraped {
	box-shadow: 0 0 5px #ccc;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lead-image {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

.lead-info {
	text-align: left;
	width: 175px;
	height: 32px;
}

.lead-name {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
	text-align: left;
}

.lead-title {
	font-size: 12px;
	margin: 0;
	text-overflow: ellipsis;
	max-width: 20rem;
	max-height: 12rem;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
}

.remove-btn {
	background-color: #0073b1;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 12px;
	cursor: pointer;
}

.leads-section {
	overflow: scroll;
	overflow-x: hidden;
	height: 350px;
}

.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	margin-top: -40px;
}

.loading-dots {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: rgb(144, 131, 216);
	margin: 0 3px;
	animation: bounce 0.5s ease-in-out infinite;
}

.dot:nth-child(2) {
	animation-delay: 0.1s;
}

.dot:nth-child(3) {
	animation-delay: 0.2s;
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}

/* message */

.message-template {
	background-color: #fff;
	width: 350px;
	height: 429px;
	font-family: "Poppins variant0", Tofu;
	text-align: center;
}



#heading-message {
	margin-left: 50px;
}

.sizing {
	resize: vertical;
}

#save-campaign {
	background-color: rgb(144, 131, 216);
	color: black;
	border: none;
	font-family: "Poppins variant0", Tofu;
	font-weight: 600;
	padding: 12px 105px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
}

#Campaign1 {
	margin-top: 20px;
	margin-left: 37px;
	background-color: rgb(144, 131, 216);
	color: black;
	border: none;
	font-family: "Poppins variant0", Tofu;
	font-weight: 600;
	padding: 20px 100px;
	cursor: pointer;
	border-radius: 10px;
}


/* activity page */


#heading-activity,
#heading-people {
	margin-left: 54px;
}

#charCount {
	position: absolute;
	bottom: 260px;
	right: 55px;
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
}

.activity-heading-section,
.people-top-section {
	display: flex;
	background-color: rgb(144, 131, 216);
	margin-left: -8px;
	margin-right: -8px;
	gap: 78px;
	padding-left: 10px;
}

.trial input {
	font-size: 14px;
	width: 30px;
}

.trial input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}

.placeholders {
	text-align: left;
	padding-left: 30px;
}

.placeholder-button {
	border: 0;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	background: #cfcfcf;
	padding: 4px 10px 4px 10px;
	text-decoration: none;
	margin: 5px;
}

.placeholder-button:hover {
	text-decoration: none;
}

#Activity:hover {
	text-decoration: underline;
	text-underline-offset: 0.4em;
	text-decoration-thickness: 0.30em;

}

.data-box {
	display: flex;
	justify-content: space-around;
	background: #fff;
	padding: 15px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.pending,
.sent {
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number {
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	color: #101010;
	font-weight: 700;
}

.text-desc {
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	color: #101010;
}

.activity-leads-section {
	overflow: scroll;
	overflow-x: hidden;
	height: 280px;
}

.process-box {
	/* align-items: center; */
	text-align: left;
	padding: 15px;
	padding-left: 32px;
}

.lead-status {
	font-style: italic;
	color: #333333;
}



::-webkit-scrollbar-thumb {
	background: rgb(75, 75, 75);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: lightgray;
}

.trial {
	background: #fff;
	padding: 15px;
	margin: 0 -6px 0 -6px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.limit {
	text-align: left;
	padding-left: 40px;
	padding-top: 10px;
}

.trial-bar {
	margin-left: -8px;
	margin-right: -8px;
}

::-webkit-scrollbar {
	width: 5px;
}

.f-a-icons {
	margin: 5% 3% 5% 0;
	color: rgba(0, 0, 0, 0.1);
}


/* people page */


#add-people {
	background-color: rgb(144, 131, 216);
	color: black;
	border: none;
	font-family: "Poppins variant0", Tofu;
	font-weight: 600;
	padding: 12px 97px;
	cursor: pointer;
	border-radius: 10px;
	white-space: nowrap;
}

.profile-result {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-result a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.profile-result img {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	object-fit: cover;
	object-position: center;
	margin-right: 10px;
}

.profile-info h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 5px;
}

.profile-info p {
	font-size: 12px;
	margin: 0;
}

.people-leads-section {
	overflow: scroll;
	overflow-x: hidden;
	height: 325px;
}